.notify {
	margin: 7px;
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	color: white;
	transition: .3s;
}

.clear-button {
	cursor: pointer;
	font-weight: 700;
	font-size: 21px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 25px;
}